@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');


body {
        font-family: 'Outfit', sans-serif;
        background-color: hsl(212, 45%, 89%);
        min-height: 100vh;
        display: flex;
        align-items: center;
        font-size: 15px;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 360px;
    margin: 0 auto;
}


.card {
    background-color: hsl(0, 0%, 100%);
    padding: 5%;
    border-radius: 18px ;
    text-align: center;
}

.card img{
    width: 100%;
    border-radius: 12px;
    
    
}

.text{
    padding: 22px 10px ;
}

.text h2 {
    padding-bottom: 10px;
    color: hsl(216, 15%, 48%);
    
}

.text p {
    color: hsl(218, 44%, 22%)
}